.main {
  .h5Main {
    padding: 20px;
    text-shadow: 0 0 2px black;
  }
  .boxBici {
    display: flex;

    .tipoBici {
      padding: 20px;
      .radio {
        margin: 10px;
      }
      .imgBiciMain {
        height: 32vh;
        width: 23vw;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
      }
      .labelElige {
        padding: 10px;
        margin-left: 20px;
        font-weight: 500;
      }
    }
  }
}

.accesoriosBici {
  padding: 30px;
  margin-left: 90px;

  #exampleColorInput.form-control.form-control-color {
    margin-left: 20px;
    height: 60px;
    width: 60px;
  }
  .boxFrenos {
    display: flex;
    justify-content: center;
    .tipoBici {
      padding: 20px;
      .radio {
        margin: 10px;
      }
      .imgAccesorio {
        height: 25vh;
        width: 32vh;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
      }
      .labelElige {
        margin: 15px;
        font-weight: 500;
      }
    }
  }
  .boxPlatos {
    display: flex;
    justify-content: center;

    .tipoBici {
      padding: 10px;
      .radio {
        margin: 10px;
      }
      .imgAccesorio {
        height: 25vh;
        width: 32vh;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
      }
      .labelElige {
        margin: 15px;
        font-weight: 500;
      }
    }
  }
  .h5Main {
    padding: 20px;
    margin-top: 20px;
    text-shadow: 0 0 2px black;
  }
  .tipoBici {
    .imgAccesorio {
      height: 25vh;
      width: 32vh;
      border-radius: 15px;
      box-shadow: 0 0 10px black;
    }
  }
}

.tipoBici {
  .imgPinon {
    height: 25vh;
    width: 32vh;
    margin-left: 156px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
  }
  .form-select-16px.cantidadPinon {
    margin: 10px;
    border-radius: 10px;
    option {
      border-radius: 15px;
      box-shadow: 0 0 10px black;
    }
  }
}

.boton {
  display: flex;
  justify-content: center;
  padding: 100px;

  .solicitar {
    width: 20vw;
    padding: 10px;
    background-color: rgb(90, 90, 90);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    font-size: larger;
  }
}

// Inicio maedia queries//

@media screen and (max-width: 768px) {
  .main {
    .boxBici {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
      .tipoBici {
        display: flex;
        align-items: center;
        padding: 20px 0px 20px 0px;
        width: 80vw;
        
       

        .imgBiciMain {
          height: 18vh;
          width: 45vw;
        }
        .labelElige {
          padding: 0px;
          width: 30%;
          
        }
      }
    }
  }
  .accesoriosBici {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin: 60px;

    .boxFrenos {
      display: flex;
      flex-direction: column;

      .tipoBici {
        padding: 10px;

        .imgAccesorio {
          width: 28vw;
          height: 13vh;
        }
        .labelElige {
          padding: 0px;
        }
      }
    }
    .boxPlatos {
      display: flex;
      flex-direction: column;
      .tipoBici {
        padding: 10px;

        .imgAccesorio {
          width: 28vw;
          height: 13vh;
        }
        .labelElige {
          padding: 0px;
        }
      }
    }

    .tipoBici {
      .imgPinon {
        margin: 0px;
        width: 28vw;
        height: 13vh;
      }
      .labelElige {
    }
    .form-select-16px.cantidadPinon {
      margin-top: 20px;
      option {
      }
    }

      .boton {
        padding: 50px;
        .solicitar{
          width: 40vw;
        }
      }
    }
  }
}

