.main {
  padding: 20px;
  line-height: var(--separacion-linea-desktop);

  .imgMainMantencion {
    width: 95vw;
    height: 40vh;
    margin: 20px 0px 20px 0px;
  }
  .textoMantencion {
    text-align: justify;
  }
}

.guiaMantencion {
  padding: 20px;
  line-height: var(--separacion-linea-desktop);
  .h4Main {
    padding-top: 50px;
  }

  .h5Main {
    padding-top: 50px;
  }
}

.modal-body {
  margin: auto;
  height: 40vh;
  width: 100%;
          
.videoMantencion{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
  
  
}
}



// Inicio maedia queries//

@media screen and (max-width: 768px) {
  .main {
    padding: 0px;
    line-height: var(--separacion-linea-desktop);

    .imgMainMantencion {
      width: 100vw;
      height: auto;
    }
    .textoMantencion {
      text-align: justify;
      margin: 20px;
    }
    .h4Main {
      padding: 40px;
    }
    .ulMantencion {
      margin-left: 50px;
    }
  }

  .guiaMantencion {
    padding: 40px;
    line-height: var(--separacion-linea-desktop);
    .h4Main {
      padding-top: 50px;
    }

    .h5Main {
      padding-top: 50px;
    }
  }
}
