.productosMain.row {
  margin: 0px;

  .contenedorProductoMain.col-md-6.col-12 {
    padding: 50px 20px 20px 20px;
    display: flex;

    .linkProductoMain {
      .imagenProductoMain {
        width: 25vw;
        height: 34vh;
        border-radius: 20px;
        margin: 6px auto;
        box-shadow: 0 0 15px black;
      }
    }
    .textDescripMain {
      padding: 15px;
      .descripProductoMain {
        text-decoration: none;
        color: black;
        font-size: medium;
        text-shadow: 0 0 10px white;
        font-weight: 700;
      }
    }
  }

  .contenedorProductoMain.col-md-4.col-12 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .linkProductoMain {
      .imagenProductoMain {
        width: 20vw;
        height: 30vh;
        border-radius: 20px;
        margin: 6px auto;
        box-shadow: 0 0 15px black;
      }
    }
    .textDescripMain {
      padding: 10px;
      width: 18vw;
      .descripProductoMain {
        text-decoration: none;
        color: black;
        font-size: medium;
        text-shadow: 0 0 10px white;
        font-weight: 700;
      }
    }
  }
}

.contenedorProductSec {
  display: flex;
  justify-content: center;

  .pSec {
    width: 45vw;
    text-shadow: 0 0 15px black;
    font-size: large;
    padding: 20px;
  }

  .carousel.slide {
    width: 20vw;
    height: max-content;

    .carousel-inner {
      .carousel-item.active {
        width: 14vw;
        height: 28vh;

        .d-block.w-100 {
          border-radius: 15px;
          box-shadow: 0 0 10px white;
        }
      }
      .carousel-item {
        width: 14vw;
        height: 28vh;

        .d-block.w-100 {
          border-radius: 15px;
          box-shadow: 0 0 10px white;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  
  .productosMain.row {
    margin: 0px;

    .contenedorProductoMain.col-md-6.col-12 {
      padding: 0px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .linkProductoMain {
        .imagenProductoMain {
          width: 75vw;
          height: 28vh;
        }
      }
      .textDescripMain {
        width: 75vw;
        text-align: justify;
      }
    }

    .contenedorProductoMain.col-md-4.col-12 {
      padding-top: 50px;

      .linkProductoMain {
        .imagenProductoMain {
          width: 65vw;
          height: 24vh;
        }
      }
      .textDescripMain {
        width: 65vw;
        text-align: justify;
      }
    }
  }

  .contenedorProductSec {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pSec {
      width: 75vw;
      padding: 0px;
      text-align: justify;
    }

    .carousel.slide {
      margin-top: 40px;
      width: 50vw;
      height: max-content;

      .carousel-inner {
        .carousel-item.active {
          width: 45vw;
          height: 30vh;

          .d-block.w-100 {
            border-radius: 15px;
            box-shadow: 0 0 10px white;
          }
        }
        .carousel-item {
          width: 45vw;
          height: 30vh;

          .d-block.w-100 {
            border-radius: 15px;
            box-shadow: 0 0 10px white;
          }
        }
      }
    }
  }
}
