@import './header';
@import './footer';
@import './productosIndex.scss';
@import './equipamiento';
@import './galeria';
@import './diseñaTuBici';
@import './mantencion';
@import './variables';

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(204, 210, 211);
  background-image: linear-gradient(to bottom, rgb(204, 210, 211), rgb(81, 127, 158)70% );
}



.flexProductos.row-3 {
  .noResponsiveProducto.col-12 {
    text-align: center;
    .boxArticulo {
      .noResponsiveArticulo {
        width: 27vw;
        border-radius: 4px;
        box-shadow: 0 0 5px black;
      }
    }
    .boxDescrip {
      margin: 10px;

      .noResponsiveDescrip {
        background-color: #a1a1a1;
        text-decoration: none;
        color: black;
        border-radius: 4px;
        padding: 3px;
      }
    }
  }
}


