.header {
  height: 30vh;
  background-image: url(./../../multimedia/images/paisajeUp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20vh auto 20vh;
  grid-template-areas: "logo title iconos";
  align-items: center;
}
.header .logoSok {
  width: 8vw;
  border-radius: 100%;
  box-shadow: 0 0 50px black;
  grid-area: logo;
  display: flex;
  margin: auto;
}
.header .title {
  color: rgb(211, 208, 208);
  text-shadow: 0 0 10px black;
  grid-area: title;
}
.header .title .cursiva {
  font-size: xx-large;
  color: #5e5e5e;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header .iconosUp {
  grid-area: iconos;
  margin: auto;
  position: relative;
  top: -45px;
}
.header .iconosUp .iconosUl {
  display: flex;
  list-style: none;
  padding: 10px;
}
.header .iconosUp .iconosUl .iconosLi {
  padding: 10px;
}
.header .iconosUp .iconosUl .linkIcono .iconoRightUp {
  width: 2.2vw;
}

@media screen and (max-width: 768px) {
  .header {
    height: 30vh;
    background-image: url(./../../multimedia/images/paisajeUp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "logo iconos";
    align-content: space-between;
    justify-content: space-between;
    padding: 20px;
  }
  .header .logoSok {
    width: 18vw;
    border-radius: 100%;
    box-shadow: 0 0 50px black;
    grid-area: logo;
    display: flex;
    margin: auto;
  }
  .header .title {
    display: none;
  }
  .header .iconosUp {
    grid-area: iconos;
    margin: auto;
    position: static;
  }
  .header .iconosUp .iconosUl {
    display: flex;
    list-style: none;
    padding: 5px;
  }
  .header .iconosUp .iconosUl .iconosLi {
    padding: 10px;
  }
  .header .iconosUp .iconosUl .linkIcono .iconoRightUp {
    width: 4vw;
  }
}
.footer {
  margin-top: 100px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "footerUpL footerUpR" "footerUnL footerUnR";
}
.footer .footerLeft .ulFooterLeft {
  margin-top: 50px;
  grid-area: footerUpL;
  display: inline-block;
}
.footer .footerLeft .ulFooterLeft .h5footer {
  color: black;
}
.footer .footerLeft .ulFooterLeft .linkfooterleft {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: medium;
}
.footer .footerRight {
  display: inline-block;
  margin: 50px auto;
  grid-area: footerUpR;
}
.footer .footerRight .pFooter {
  color: black;
  margin: 0px;
  font-size: medium;
}
.footer .footerRight iframe {
  width: 18vw;
  height: 23vh;
  border-radius: 10px;
}
.footer .footerUnder {
  grid-area: footerUnL;
  margin-left: 20px;
  margin-bottom: 20px;
}
.footer .footerUnder .formEmail .form-label {
  color: black;
}
.footer .footerUnder .formEmail #emailHelp.form-text {
  color: black;
}
.footer .footerUnderRight {
  grid-area: footerUnR;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerUnderRight .btn.btn-light.iconSociales {
  width: 45px;
  height: 45px;
  padding: 0px;
  margin: 20px;
  background-color: rgb(165, 164, 164);
}
.footer .footerUnderRight .btn.btn-light.iconSociales svg {
  width: 35px;
  height: 35px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "footerUpL" "footerUpR" "footerUnL" "footerUnR";
    justify-content: center;
    justify-items: start;
    row-gap: 10px;
    padding: 0px;
    margin: 0px;
  }
  .footer .footerLeft .ulFooterLeft {
    margin: 0px;
    padding: 0px;
    grid-area: footerUpL;
    display: inline-block;
  }
  .footer .footerLeft .ulFooterLeft .h5footer {
    color: black;
  }
  .footer .footerLeft .ulFooterLeft .linkfooterleft {
    display: flex;
    text-decoration: none;
    color: black;
  }
  .footer .footerRight {
    display: inline-block;
    grid-area: footerUpR;
  }
  .footer .footerRight .pFooter {
    color: black;
    margin: 0px;
    font-size: small;
  }
  .footer .footerRight iframe {
    width: 50vw;
    height: 15vh;
  }
  .footer .footerUnder {
    display: inline-block;
    grid-area: footerUnL;
    margin: 0px;
  }
  .footer .footerUnder .formEmail .form-label {
    color: black;
  }
  .footer .footerUnder .formEmail #emailHelp.form-text {
    color: black;
  }
  .footer .footerUnderRight {
    grid-area: footerUnR;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footerUnderRight .btn.btn-light.iconSociales {
    width: 45px;
    height: 45px;
    background-color: rgb(165, 164, 164);
  }
  .footer .footerUnderRight .btn.btn-light.iconSociales svg {
    width: 35px;
    height: 35px;
  }
}
.productosMain.row {
  margin: 0px;
}
.productosMain.row .contenedorProductoMain.col-md-6.col-12 {
  padding: 50px 20px 20px 20px;
  display: flex;
}
.productosMain.row .contenedorProductoMain.col-md-6.col-12 .linkProductoMain .imagenProductoMain {
  width: 25vw;
  height: 34vh;
  border-radius: 20px;
  margin: 6px auto;
  box-shadow: 0 0 15px black;
}
.productosMain.row .contenedorProductoMain.col-md-6.col-12 .textDescripMain {
  padding: 15px;
}
.productosMain.row .contenedorProductoMain.col-md-6.col-12 .textDescripMain .descripProductoMain {
  text-decoration: none;
  color: black;
  font-size: medium;
  text-shadow: 0 0 10px white;
  font-weight: 700;
}
.productosMain.row .contenedorProductoMain.col-md-4.col-12 {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productosMain.row .contenedorProductoMain.col-md-4.col-12 .linkProductoMain .imagenProductoMain {
  width: 20vw;
  height: 30vh;
  border-radius: 20px;
  margin: 6px auto;
  box-shadow: 0 0 15px black;
}
.productosMain.row .contenedorProductoMain.col-md-4.col-12 .textDescripMain {
  padding: 10px;
  width: 18vw;
}
.productosMain.row .contenedorProductoMain.col-md-4.col-12 .textDescripMain .descripProductoMain {
  text-decoration: none;
  color: black;
  font-size: medium;
  text-shadow: 0 0 10px white;
  font-weight: 700;
}

.contenedorProductSec {
  display: flex;
  justify-content: center;
}
.contenedorProductSec .pSec {
  width: 45vw;
  text-shadow: 0 0 15px black;
  font-size: large;
  padding: 20px;
}
.contenedorProductSec .carousel.slide {
  width: 20vw;
  height: max-content;
}
.contenedorProductSec .carousel.slide .carousel-inner .carousel-item.active {
  width: 14vw;
  height: 28vh;
}
.contenedorProductSec .carousel.slide .carousel-inner .carousel-item.active .d-block.w-100 {
  border-radius: 15px;
  box-shadow: 0 0 10px white;
}
.contenedorProductSec .carousel.slide .carousel-inner .carousel-item {
  width: 14vw;
  height: 28vh;
}
.contenedorProductSec .carousel.slide .carousel-inner .carousel-item .d-block.w-100 {
  border-radius: 15px;
  box-shadow: 0 0 10px white;
}

@media screen and (max-width: 768px) {
  .productosMain.row {
    margin: 0px;
  }
  .productosMain.row .contenedorProductoMain.col-md-6.col-12 {
    padding: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productosMain.row .contenedorProductoMain.col-md-6.col-12 .linkProductoMain .imagenProductoMain {
    width: 75vw;
    height: 28vh;
  }
  .productosMain.row .contenedorProductoMain.col-md-6.col-12 .textDescripMain {
    width: 75vw;
    text-align: justify;
  }
  .productosMain.row .contenedorProductoMain.col-md-4.col-12 {
    padding-top: 50px;
  }
  .productosMain.row .contenedorProductoMain.col-md-4.col-12 .linkProductoMain .imagenProductoMain {
    width: 65vw;
    height: 24vh;
  }
  .productosMain.row .contenedorProductoMain.col-md-4.col-12 .textDescripMain {
    width: 65vw;
    text-align: justify;
  }
  .contenedorProductSec {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedorProductSec .pSec {
    width: 75vw;
    padding: 0px;
    text-align: justify;
  }
  .contenedorProductSec .carousel.slide {
    margin-top: 40px;
    width: 50vw;
    height: max-content;
  }
  .contenedorProductSec .carousel.slide .carousel-inner .carousel-item.active {
    width: 45vw;
    height: 30vh;
  }
  .contenedorProductSec .carousel.slide .carousel-inner .carousel-item.active .d-block.w-100 {
    border-radius: 15px;
    box-shadow: 0 0 10px white;
  }
  .contenedorProductSec .carousel.slide .carousel-inner .carousel-item {
    width: 45vw;
    height: 30vh;
  }
  .contenedorProductSec .carousel.slide .carousel-inner .carousel-item .d-block.w-100 {
    border-radius: 15px;
    box-shadow: 0 0 10px white;
  }
}
.main .h3Main {
  margin: 20px;
  text-shadow: 0 0 2px black;
  background-color: white;
  padding: 8px;
  display: inline-block;
  border-radius: 10px;
  font-size: x-large;
}
.main .videosGiras {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.main .videosGiras .videoMotivacion {
  width: 37vw;
  padding: 20px;
  box-shadow: 0 0 15px black;
  border-radius: 20px;
  padding: 0px;
}

.gribCasco.row {
  width: 80vw;
  margin: auto;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 {
  padding: 40px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-inner.siceImg {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-item.active {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-item.siceImg {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-item.siceImg .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item.active {
  width: 18vw;
  padding: 20px 0px 0px 30px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item {
  width: 18vw;
  padding: 20px 0px 0px 30px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item.active {
  width: 18vw;
  padding: 20px 0px 0px 30px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item {
  width: 18vw;
  padding: 20px 0px 0px 30px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 .especGribProducto {
  padding: 15px;
}
.gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 .especGribProducto .descripEquip {
  text-decoration: none;
  color: black;
  font-size: medium;
  text-shadow: 0 0 10px white;
  font-weight: 700;
}

.gribLentes.row {
  width: 80vw;
  margin: auto;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 {
  padding: 40px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item.active {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item.active {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item.active {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 .especGribProducto {
  padding: 15px;
}
.gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 .especGribProducto .descripEquip {
  text-decoration: none;
  color: black;
  font-size: medium;
  text-shadow: 0 0 10px white;
  font-weight: 700;
}

.gribGuantes.row {
  width: 80vw;
  margin: auto;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 {
  padding: 40px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item.active {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item.active {
  width: 16vw;
  padding: 20px 0px 0px 30px;
  margin-left: 30px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 24vh;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item {
  width: 16vw;
  padding: 20px 0px 0px 30px;
  margin-left: 30px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 24vh;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-inner {
  height: 33vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item.active {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item {
  width: 20vw;
  padding: 20px 0px 0px 30px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
  height: 28vh;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 .especGribProducto {
  padding: 15px;
}
.gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 .especGribProducto .descripEquip {
  text-decoration: none;
  color: black;
  font-size: medium;
  text-shadow: 0 0 10px white;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .main .videosGiras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .main .videosGiras .videoMotivacion {
    width: 85vw;
  }
  .gribCasco.row {
    width: 75vw;
    margin: auto;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 {
    padding: 25px;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-inner.siceImg {
    height: 27vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-item.active {
    width: 60vw;
    padding: 0px;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .d-block.w-100.imgCarrusel {
    height: 27vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-item.siceImg {
    width: 60vw;
    padding: 0px;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel3.carousel.carousel-dark.slide .carousel-item.siceImg .d-block.w-100.imgCarrusel {
    height: 27vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item.active {
    width: 40vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item {
    width: 40vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel2.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item.active {
    width: 40vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item {
    width: 40vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribCasco.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #cascoCarrusel1.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribLentes.row {
    width: 75vw;
    margin: auto;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 {
    padding: 25px;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item.active {
    width: 43vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item {
    width: 43vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel3.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item.active {
    width: 44vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item {
    width: 44vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel2.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item.active {
    width: 44vw;
    padding: 0px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item {
    width: 44vw;
    padding: 0px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .gribLentes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #lentesCarrusel1.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
  .gribGuantes.row {
    width: 75vw;
    margin: auto;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 {
    padding: 25px;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item.active {
    width: 44vw;
    padding: 0px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item {
    width: 44vw;
    padding: 0px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel3.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item.active {
    width: 40vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item {
    width: 40vw;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel2.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 20vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-inner {
    height: 27vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item.active {
    width: 44vw;
    padding: 0px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item.active .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item {
    width: 44vw;
    padding: 0px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .gribGuantes.row .boxGribProducto.col-lg-4.col-md-4.col-sm-12 #guantesCarrusel1.carousel.carousel-dark.slide .carousel-item .d-block.w-100.imgCarrusel {
    height: 25vh;
  }
}
.main .narracionGira {
  padding: 30px;
  line-height: 50px;
  font-size: medium;
  text-shadow: 0 0 1px rgb(71, 71, 71);
  text-align: justify;
}

.imgGira {
  height: 25vh;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
}

.gridGaleria {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "box1 box2 box3" "box4 box5 box6" "box7 box8 box9" "box10 box11 box12";
  grid-gap: 60px;
  align-items: center;
  justify-items: center;
}
.gridGaleria .boxImg-1.imgGira {
  grid-area: box1;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-1:hover {
  transform: translate(530px) scale(3);
}
.gridGaleria .boxImg-2.imgGira {
  grid-area: box2;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-2:hover {
  transform: scale(3.2);
}
.gridGaleria .boxImg-3.imgGira {
  grid-area: box3;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-3:hover {
  transform: translate(-530px) scale(3);
}
.gridGaleria .boxImg-4.imgGira {
  grid-area: box4;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-4:hover {
  transform: translate(520px) scale(2.3);
}
.gridGaleria .boxImg-5.imgGira {
  grid-area: box5;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-5:hover {
  transform: scale(2.4);
}
.gridGaleria .boxImg-6.imgGira {
  grid-area: box6;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-6:hover {
  transform: translate(-530px) scale(2.7);
}
.gridGaleria .boxImg-7.imgGira {
  grid-area: box7;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-7:hover {
  transform: translate(520px) scale(2.3);
}
.gridGaleria .boxImg-8.imgGira {
  grid-area: box8;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-8:hover {
  transform: scale(2.6);
}
.gridGaleria .boxImg-9.imgGira {
  grid-area: box9;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-9:hover {
  transform: translate(-530px) scale(2.3);
}
.gridGaleria .boxImg-10.imgGira {
  grid-area: box10;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-10:hover {
  transform: translate(520px) scale(2.3);
}
.gridGaleria .boxImg-11.imgGira {
  grid-area: box11;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-11:hover {
  transform: scale(2.5);
}
.gridGaleria .boxImg-12.imgGira {
  grid-area: box12;
  transition: transform 3s ease;
}
.gridGaleria .boxImg-12:hover {
  transform: translate(-530px) scale(2.5);
}

@media screen and (max-width: 768px) {
  .main .narracionGira {
    padding: 30px;
    line-height: 23px;
    font-size: medium;
    text-shadow: 0 0 1px rgb(71, 71, 71);
    text-align: justify;
  }
  .imgGira {
    height: 17vh;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
  }
  .gridGaleria {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "box1" "box2" "box3" "box4" "box5" "box6" "box7" "box8" "box9" "box10" "box11" "box12";
    grid-gap: 50px;
    align-items: center;
    justify-items: center;
    margin: 60px;
  }
  .boxImg-1.imgGira {
    grid-area: box1;
    animation: fadeIn 5s ease forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .boxImg-2.imgGira {
    grid-area: box2;
    animation: slide1 8s ease;
  }
  @keyframes slide1 {
    0% {
      transform: translateX(350px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .boxImg-3.imgGira {
    grid-area: box3;
    animation: slide2 8s ease;
  }
  @keyframes slide2 {
    0% {
      transform: translateX(-350px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .boxImg-3:hover {
    transform: translate(-530px) scale(3);
  }
  .boxImg-4.imgGira {
    grid-area: box4;
    animation: fadeIn2 10s ease forwards;
  }
  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .boxImg-5.imgGira {
    grid-area: box5;
    animation: slide3 8s ease;
  }
  @keyframes slide3 {
    0% {
      transform: translateX(350px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .boxImg-6.imgGira {
    grid-area: box6;
    animation: slide4 8s ease;
  }
  @keyframes slide4 {
    0% {
      transform: translateX(-350px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .boxImg-7.imgGira {
    grid-area: box7;
    animation: fadeIn3 14s ease forwards;
  }
  @keyframes fadeIn3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .boxImg-8.imgGira {
    grid-area: box8;
    animation: slide5 8s ease;
  }
  @keyframes slide5 {
    0% {
      transform: translateX(350px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .boxImg-9.imgGira {
    grid-area: box9;
    animation: slide6 8s ease;
  }
  @keyframes slide6 {
    0% {
      transform: translateX(-350px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .boxImg-10.imgGira {
    grid-area: box10;
    animation: fadeIn4 16s ease forwards;
  }
  @keyframes fadeIn4 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .boxImg-11.imgGira {
    grid-area: box11;
    animation: slide7 8s ease;
  }
  @keyframes slide7 {
    0% {
      transform: translateX(350px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .boxImg-12.imgGira {
    grid-area: box12;
    animation: slide8 8s ease;
  }
  @keyframes slide8 {
    0% {
      transform: translateX(-350px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.main .h5Main {
  padding: 20px;
  text-shadow: 0 0 2px black;
}
.main .boxBici {
  display: flex;
}
.main .boxBici .tipoBici {
  padding: 20px;
}
.main .boxBici .tipoBici .radio {
  margin: 10px;
}
.main .boxBici .tipoBici .imgBiciMain {
  height: 32vh;
  width: 23vw;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.main .boxBici .tipoBici .labelElige {
  padding: 10px;
  margin-left: 20px;
  font-weight: 500;
}

.accesoriosBici {
  padding: 30px;
  margin-left: 90px;
}
.accesoriosBici #exampleColorInput.form-control.form-control-color {
  margin-left: 20px;
  height: 60px;
  width: 60px;
}
.accesoriosBici .boxFrenos {
  display: flex;
  justify-content: center;
}
.accesoriosBici .boxFrenos .tipoBici {
  padding: 20px;
}
.accesoriosBici .boxFrenos .tipoBici .radio {
  margin: 10px;
}
.accesoriosBici .boxFrenos .tipoBici .imgAccesorio {
  height: 25vh;
  width: 32vh;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.accesoriosBici .boxFrenos .tipoBici .labelElige {
  margin: 15px;
  font-weight: 500;
}
.accesoriosBici .boxPlatos {
  display: flex;
  justify-content: center;
}
.accesoriosBici .boxPlatos .tipoBici {
  padding: 10px;
}
.accesoriosBici .boxPlatos .tipoBici .radio {
  margin: 10px;
}
.accesoriosBici .boxPlatos .tipoBici .imgAccesorio {
  height: 25vh;
  width: 32vh;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.accesoriosBici .boxPlatos .tipoBici .labelElige {
  margin: 15px;
  font-weight: 500;
}
.accesoriosBici .h5Main {
  padding: 20px;
  margin-top: 20px;
  text-shadow: 0 0 2px black;
}
.accesoriosBici .tipoBici .imgAccesorio {
  height: 25vh;
  width: 32vh;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}

.tipoBici .imgPinon {
  height: 25vh;
  width: 32vh;
  margin-left: 156px;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.tipoBici .form-select-16px.cantidadPinon {
  margin: 10px;
  border-radius: 10px;
}
.tipoBici .form-select-16px.cantidadPinon option {
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}

.boton {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.boton .solicitar {
  width: 20vw;
  padding: 10px;
  background-color: rgb(90, 90, 90);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  font-size: larger;
}

@media screen and (max-width: 768px) {
  .main .boxBici {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .boxBici .tipoBici {
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 0px;
    width: 80vw;
  }
  .main .boxBici .tipoBici .imgBiciMain {
    height: 18vh;
    width: 45vw;
  }
  .main .boxBici .tipoBici .labelElige {
    padding: 0px;
    width: 30%;
  }
  .accesoriosBici {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin: 60px;
  }
  .accesoriosBici .boxFrenos {
    display: flex;
    flex-direction: column;
  }
  .accesoriosBici .boxFrenos .tipoBici {
    padding: 10px;
  }
  .accesoriosBici .boxFrenos .tipoBici .imgAccesorio {
    width: 28vw;
    height: 13vh;
  }
  .accesoriosBici .boxFrenos .tipoBici .labelElige {
    padding: 0px;
  }
  .accesoriosBici .boxPlatos {
    display: flex;
    flex-direction: column;
  }
  .accesoriosBici .boxPlatos .tipoBici {
    padding: 10px;
  }
  .accesoriosBici .boxPlatos .tipoBici .imgAccesorio {
    width: 28vw;
    height: 13vh;
  }
  .accesoriosBici .boxPlatos .tipoBici .labelElige {
    padding: 0px;
  }
  .accesoriosBici .tipoBici .imgPinon {
    margin: 0px;
    width: 28vw;
    height: 13vh;
  }
  .accesoriosBici .tipoBici .form-select-16px.cantidadPinon {
    margin-top: 20px;
  }
  .accesoriosBici .tipoBici .boton {
    padding: 50px;
  }
  .accesoriosBici .tipoBici .boton .solicitar {
    width: 40vw;
  }
}
.main {
  padding: 20px;
  line-height: var(--separacion-linea-desktop);
}
.main .imgMainMantencion {
  width: 95vw;
  height: 40vh;
  margin: 20px 0px 20px 0px;
}
.main .textoMantencion {
  text-align: justify;
}

.guiaMantencion {
  padding: 20px;
  line-height: var(--separacion-linea-desktop);
}
.guiaMantencion .h4Main {
  padding-top: 50px;
}
.guiaMantencion .h5Main {
  padding-top: 50px;
}

.modal-body {
  margin: auto;
  height: 40vh;
  width: 100%;
}
.modal-body .videoMantencion {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0px;
    line-height: var(--separacion-linea-desktop);
  }
  .main .imgMainMantencion {
    width: 100vw;
    height: auto;
  }
  .main .textoMantencion {
    text-align: justify;
    margin: 20px;
  }
  .main .h4Main {
    padding: 40px;
  }
  .main .ulMantencion {
    margin-left: 50px;
  }
  .guiaMantencion {
    padding: 40px;
    line-height: var(--separacion-linea-desktop);
  }
  .guiaMantencion .h4Main {
    padding-top: 50px;
  }
  .guiaMantencion .h5Main {
    padding-top: 50px;
  }
}
:root {
  --separacion-linea-desktop: 40px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom, rgb(238, 239, 240), rgb(109, 140, 160), #977c6a);
}

.flexProductos.row-3 .noResponsiveProducto.col-12 {
  text-align: center;
}
.flexProductos.row-3 .noResponsiveProducto.col-12 .boxArticulo .noResponsiveArticulo {
  width: 27vw;
  border-radius: 4px;
  box-shadow: 0 0 5px black;
}
.flexProductos.row-3 .noResponsiveProducto.col-12 .boxDescrip {
  margin: 10px;
}
.flexProductos.row-3 .noResponsiveProducto.col-12 .boxDescrip .noResponsiveDescrip {
  background-color: #a1a1a1;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  padding: 3px;
}

/*# sourceMappingURL=style.css.map */
